.crud header {
    padding: 10px 0;
    margin: 10px 0;
}

.crud .heading {
    font-size: 20px;
    margin-right: 20px;
}

.crud ul {
    list-style: none;
    margin: 0;
}

.crud li {
    clear: both;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
    padding: 10px;    
    min-height: 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.crud button.edit {
    margin-top: 5px;
    float: right;
}

.modalHost .crud {
    padding: 20px;
    background-color: white;
    min-width: 400px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #999

}

.modalHost .crud .footer {
    min-height: 30px;
}

.modalHost .crud div.delete {
    padding-top: 15px;
}

.modalHost .crud .delete a {
    color: #aaa;
}